#pane{
    -fx-background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Georgia_Tech_Yellow_Jackets_logo.svg/1200px-Georgia_Tech_Yellow_Jackets_logo.svg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 720;
    -fx-background-position: center center;
}